include LICENSE
include README.md
include pyproject.toml
# Include all static files in your package
recursive-include */static *
# Include all template files in your package
recursive-include */templates *
# Include all locale files in your package
recursive-include */locale *
# Exclude unnecessary files
recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
